In [6]:
import numpy as np
import pandas as pd
%matplotlib inline

In [7]:
data = pd.read_csv('../ods/data/titanic_train.csv', index_col='PassengerId')

In [8]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
data[(data['Sex']=='female')]['Name'].count(), \
data[(data['Sex']=='male')]['Name'].count()   #1

(314, 577)

In [10]:
data[(data['Sex']=='male') & (data['Pclass'] == 2)]['Name'].count() #2

108

In [11]:
round(data['Fare'].median(), 2), \
round(data['Fare'].std(), 2)  #3

(14.45, 49.69)

In [30]:
def age_category(age):
    
    if age < 30:
        return 1
    elif age < 61:
        return 2
    else:
        return 3

In [31]:
data['Age_category'] = data['Age'].apply(age_category)

In [32]:
data[(data['Age_category']==1)]['Name'].count(), \
data[(data['Age_category']==3)]['Name'].count()

(384, 199)

In [36]:
data[(data['Age_category']==1) & (data['Survived'] == 1)]['Name'].count() \
/data[(data['Age_category']==1)]['Name'].count() * 100, \
data[(data['Age_category']==3) & (data['Survived'] == 1)]['Name'].count() \
/data[(data['Age_category']==3)]['Name'].count() * 100                          #4

(40.625, 28.643216080402013)

In [38]:
data[(data['Sex']=='male') & (data['Survived'] == 1)]['Name'].count() \
/data[(data['Sex']=='male')]['Name'].count() * 100, \
data[(data['Sex']=='female') & (data['Survived'] == 1)]['Name'].count() \
/data[(data['Sex']=='female')]['Name'].count() * 100        #5

(18.890814558058924, 74.20382165605095)

In [40]:
all_words = np.concatenate(data['Name'].apply(lambda s: 
                                                        s.strip().split()).values)

In [41]:
len(all_words)

3624

In [53]:
stopwords = ['Mr.', 'Miss.', 'Mrs.']
new_words = [word for word in all_words if word not in stopwords]

In [57]:
words_series = pd.Series(list(new_words))
words_series.value_counts().head(1)

William    62
dtype: int64

AttributeError: 'list' object has no attribute 'isin'

['Braund,' 'Mr.' 'Owen' ... 'Dooley,' 'Mr.' 'Patrick']